# Definição de quem é responsável pelos arquivos ou diretórios do projeto
# Formato: caminho do arquivo ou diretório   responsável(@usuário)

# Owner de todo o Repositório
* @queimadiaria/admins

# Workflows CI/CD, CODEOWNERS and Files
.github/ @queimadiaria/devops-team @queimadiaria/cibersecurity-team
.github/CODEOWNERS @queimadiaria/devops-team @queimadiaria/cibersecurity-team

# GitLeaks Workflow and Files
.github/workflows/gitleaks.yml @queimadiaria/cibersecurity-team
.gitleaksignore @queimadiaria/cibersecurity-team

# SonarCloud Workflow and Files
.github/workflows/sonarcloud.yml @queimadiaria/cibersecurity-team
sonar-project.properties @queimadiaria/cibersecurity-team